.trending-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.slick-container {
  width: 90%;
  max-width: 1100px;
  margin-top: 10px;
}

@media all and (min-width: 401px) {
  .slick-container {
    min-width: 90%;
  }
}

.trending-now-heading {
  font-family: roboto;
  align-self: flex-start;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.85px;
  text-align: left;
}

@media all and (min-width: 401px) {
  .trending-now-heading {
    font-size: 28px;
  }
}
