.trending-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.slick-container {
  width: 90%;
  max-width: 1100px;
  margin-top: 10px;
}

@media all and (min-width: 401px) {
  .slick-container {
    min-width: 90%;
  }
}

.trending-now-heading {
  font-family: roboto;
  align-self: flex-start;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.85px;
  text-align: left;
}

@media all and (min-width: 401px) {
  .trending-now-heading {
    font-size: 28px;
  }
}

.loading-spinner-slider {
  width: 320px;
  height: 120px;
  background-color: #0d0d0d;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 401px) {
  .loading-spinner-slider {
    height: 200px;
    width: 90%;
  }
}

@media all and (min-width: 401px) {
  .mobile-loader {
    display: none;
  }
}

.desktop-loader {
  display: none;
}

@media all and (min-width: 401px) {
  .desktop-loader {
    display: flex;
  }
}

.trending-failure-view {
  width: 320px;
  height: 120px;
  background-color: #0d0d0d;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 401px) {
  .trending-failure-view {
    width: 89%;
    height: 140px;
  }
}

@media (min-width: 801px) {
  .trending-failure-view {
    width: 82%;
    height: 160px;
    margin-right: 20px;
  }
}

.trending-failure-description {
  font-family: roboto;
  font-size: 12px;
  line-height: 15.64px;
}

@media (min-width: 401px) {
  .trending-failure-description {
    font-size: 14px;
  }
}

@media (min-width: 801px) {
  .trending-failure-description {
    font-size: 16px;
  }
}

.trending-failure-button {
  width: 75px;
  height: 25px;
  padding: 2px 7px 2px 7px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #171f46;
  font-family: roboto;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
}

@media (min-width: 401px) {
  .trending-failure-button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    padding: 2px 9px 2px 9px;
  }
}

@media (min-width: 401px) {
  .trending-failure-button {
    width: 120px;
    height: 35px;
    font-size: 16px;
    padding: 2px 11px 2px 11px;
  }
}

.trending-warning-image {
  width: 16px;
  height: 16px;
}

@media (min-width: 401px) {
  .trending-warning-image {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 801px) {
  .trending-warning-image {
    width: 24px;
    height: 24px;
  }
}
