.account-page {
  background-color: #131313;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account-main-container {
  padding: 40px;
  font-family: 'roboto';
  min-height: 80vh;
  background-color: #ffffff;
}

@media (min-width: 501px) {
  .account-main-container {
    padding: 80px;
  }
}

@media (min-width: 801px) {
  .account-main-container {
    padding: 120px;
  }
}

@media (min-width: 501px) {
  .account-main-sub {
    min-width: 200px;
  }
}

@media (min-width: 801px) {
  .account-main-sub {
    min-width: 250px;
  }
}

.account-heading {
  font-size: 24px;
  font-weight: 500;
}

@media (min-width: 501px) {
  .account-heading {
    font-size: 28px;
    font-weight: 700;
  }
}

@media (min-width: 801px) {
  .account-heading {
    font-size: 32px;
  }
}

.account-main {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
}

@media (min-width: 501px) {
  .account-main {
    max-width: 350px;
  }
}

@media (min-width: 801px) {
  .account-main {
    max-width: 430px;
  }
}

.plan-name {
  border: #1e293b 1px solid;
  border-radius: 2px;
  padding: 2px 4px 2px 4px;
  margin-left: 5px;
}

.account-main-heading {
  color: #94a3b8;
  font-size: 18px;
  font-weight: 600;
  width: 120px;
}

@media (min-width: 501px) {
  .account-main-heading {
    font-size: 20px;
    width: 200px;
    margin-top: 22px;
  }
}

@media (min-width: 801px) {
  .account-main-heading {
    font-size: 24px;
    width: 300px;
  }
}

.logout-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  padding: 8px 20px 8px 20px;
  border-radius: 4px;
  background-color: #e50914;
  color: #ffffff;
  font-family: roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 50px;
}

@media (min-width: 501px) {
  .logout-button {
    padding: 10px 24px 10px 24px;
    border-radius: 6px;
    font-size: 17px;
  }
}

@media (min-width: 801px) {
  .logout-button {
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    font-size: 18px;
  }
}

.user-mail-id {
  color: #1e293b;
}

@media (min-width: 501px) {
  .user-mail-id {
    font-size: 20px;
    font-weight: 400;
    line-height: 31.27px;
  }
}

@media (min-width: 801px) {
  .user-mail-id {
    font-size: 22px;
  }
}

.user-password {
  color: #64748b;
}

@media (min-width: 501px) {
  .user-password {
    font-size: 20px;
    font-weight: 400;
    line-height: 31.27px;
  }
}

@media (min-width: 801px) {
  .user-password {
    font-size: 22px;
  }
}

.premium-text {
  color: #1e293b;
}

@media (min-width: 501px) {
  .premium-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 31.27px;
  }
}

@media (min-width: 801px) {
  .premium-text {
    font-size: 22px;
  }
}

.plan-details-container {
  display: flex;
  align-items: center;
  width: 150px;
}

@media (min-width: 501px) {
  .plan-details-container {
    width: 265px;
  }
}

@media (min-width: 801px) {
  .plan-details-container {
    width: 420px;
  }
}
