.loading-spinner-home-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 320px;
  height: 280px;
  margin-left: 8%;
  padding: 10px;
  background-color: #0d0d0d;
}

@media (min-width: 401px) {
  .loading-spinner-home-poster {
    width: 84%;
    height: 400px;
  }
}

@media (min-width: 801px) {
  .loading-spinner-home-poster {
    width: 86%;
    height: 500px;
    margin-left: 7%;
  }
}

.home-main-page {
  background-color: #131313;
  color: #ffffff;
  min-height: 100vh;
}

.home-poster-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-family: roboto;
}

@media all and (min-width: 401px) {
  .home-poster-content {
    margin-left: 75px;
    margin-bottom: 75px;
  }
}

.home-poster-heading {
  font-weight: 600;
}

@media all and (min-width: 401px) {
  .home-poster-heading {
    font-size: 50px;
  }
}

.home-poster-description {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.85px;
  text-align: left;
}

@media all and (min-width: 401px) {
  .home-poster-description {
    font-size: 26px;
    width: 700px;
  }
}

.home-poster-play-button {
  padding: 8px 24px 8px 24px;
  border-radius: 4px;
  font-weight: 600;
  color: #171f46;
  border: none;
  cursor: pointer;
  outline: none;
}

@media all and (min-width: 401px) {
  .home-poster-play-button {
    padding: 12px 30px 12px 30px;
    border-radius: 6px;
  }
}

.home-poster-failure-view {
  width: 320px;
  height: 280px;
  margin-left: 40px;
  padding: 10px;
  background-color: #0d0d0d;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 401px) {
  .home-poster-failure-view {
    height: 400px;
    width: 86%;
  }
}

@media (min-width: 801px) {
  .home-poster-failure-view {
    height: 500px;
    width: 80%;
    margin-left: 9%;
  }
}

.home-poster-failure-description {
  font-family: roboto;
  line-height: 15.64px;
}

@media (min-width: 401px) {
  .home-poster-failure-description {
    font-size: 18px;
  }
}

@media (min-width: 801px) {
  .home-poster-failure-description {
    font-size: 20px;
  }
}

.home-poster-failure-button {
  width: 100px;
  height: 28px;
  padding: 2px 12px 2px 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #171f46;
  font-family: roboto;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
}

@media (min-width: 401px) {
  .home-poster-failure-button {
    width: 120px;
    height: 34px;
    padding: 3px 16px 3px 16px;
    font-size: 14px;
  }
}

@media (min-width: 801px) {
  .home-poster-failure-button {
    width: 150px;
    height: 38px;
    padding: 4px 18px 4px 18px;
    font-size: 16px;
  }
}

@media (min-width: 401px) {
  .retry-warning-image {
    width: 60px;
  }
}

@media (min-width: 801px) {
  .retry-warning-image {
    width: 70px;
  }
}
