.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 401px) {
  .footer-container {
    min-height: 15%;
  }
}

.footer-icon-list-mobile {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
@media (min-width: 401px) {
  .footer-icon-list-mobile {
    display: none;
  }
}

.footer-icon-list-desktop {
  display: none;
}

@media (min-width: 401px) {
  .footer-icon-list-desktop {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    min-width: 145px;
  }
}

.footer-contact-us {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

@media (min-width: 401px) {
  .footer-contact-us {
    font-size: 16px;
    line-height: 24px;
  }
}
