.login-main-container {
  background-color: #131313;
  min-height: 100vh;
  max-width: 500px;
  padding: 30px;
}

@media all and (min-width: 501px) {
  .login-main-container {
    max-width: 100%;
    background-size: cover;
    background-image: linear-gradient(
        116.64deg,
        rgba(0, 0, 0, 0.8) 0.46%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('https://res.cloudinary.com/dlefoxknm/image/upload/v1715339902/netflix-background-image.png');
  }
}

.login-website-logo {
  width: 100px;
}

@media all and (min-width: 501px) {
  .login-website-logo {
    width: 140px;
    margin-left: 30px;
  }
}

@media all and (min-width: 801px) {
  .login-website-logo {
    width: 180px;
    margin-left: 60px;
  }
}

.login-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-container {
  color: #ffffff;
  font-family: Roboto;
}

@media all and (min-width: 501px) {
  .form-container {
    align-self: center;
    background-color: #0c0b10;
    width: 456px;
    min-height: 440px;
    border-radius: 8px;
    opacity: 90% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

@media all and (min-width: 501px) {
  .form-heading {
    font-weight: 600;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 10px;
}

.user-input {
  background-color: #333333;
  width: 300px;
  height: 40px;
  top: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #e2e8f0;
  padding-left: 10px;
  opacity: 1;
}

.error-message {
  color: #dc2626;
  font-size: 16px;
  width: 300px;
  font-weight: 400;
  line-height: 16.41px;
  margin-bottom: 30px;
}

.login-button {
  background-color: #e50914;
  width: 300px;
  height: 40px;
  top: 404px;
  left: 32px;
  padding: 8px 20px 8px 20px;
  gap: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
}

@media all and (min-width: 501px) {
  .login-button {
    font-weight: 700;
  }
}
